<a href="https://colab.research.google.com/github/cmartinez4269/Carina-Martinez-DS-1002/blob/main/Carina_Martinez_Copy_of_07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [ ]:
# Load pandas and the data
import pandas as pd
df = pd.read_csv('./ride_sharing.csv')
print(df)

In [ ]:
# show how many rows and columns are in this dataset
num_rows, num_columns = df.shape
print('There are', num_rows, 'rows.')
print('There are', num_columns, 'columns.')

There are 25760 rows.
There are 10 columns.

In [ ]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
df['duration'] = df['duration'].str.strip(' minutes')
df['duration'] = df['duration'].astype('int64')

In [ ]:
# Now display the datatypes in the updated dataframe
df.dtypes

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [ ]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
print('The shortest ride is', df.duration.min(), 'minute.')
print('The longest ride is', df.duration.max(), 'minutes.')

The shortest ride is 1 minute.
The longest ride is 1372 minutes.

In [ ]:
# Create a new dataframe object and populate it with rides that are 60 minutes or less.
# Hint: Use the .query() method for the dataframe that we used in class.
rides = df.query('duration <= 60')

In [ ]:
# Now show both the min and max values of the duration column for your new dataset.
print('The shortest ride is', rides.duration.min(), 'minute.')
print('The longest ride is', rides.duration.max(), 'minutes.')

The shortest ride is 1 minute.
The longest ride is 60 minutes.

In [ ]:
# Using the new dataframe, update it so that is ONLY has records where
# the tire_size is 26.
rides = rides[rides['tire_size']==26]
print('The smallest tire size is', rides.tire_size.min(),'.')
print('The largest tire size is', rides.tire_size.max(),'.')

The smallest tire size is 26 .
The largest tire size is 26 .

In [ ]:
# Finally, produce a count of all records with FEMALE riders
# using the 26-inch wheeled rental bikes for their rentals of
# one hour or less.
female_rides = rides.query('user_gender == "Female"')
count_female_rides = female_rides.shape[0]
print('There are', count_female_rides, 'females using the 26-inch wheeled rental bikes for their rentals of one hour or less.')

There are 2962 females using the 26-inch wheeled rental bikes for their rentals of one hour or less.

2. Find the file `more-messy-data.csv` on GitHub and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [ ]:
df = pd.read_csv('./more-messy-data.csv')
print(df)

       id  sepal_length  sepal_width  petal_length petal_width     species
0       1           3.5          2.9           1.4         0.5   virginica
1       2           3.6          3.2           3.0         0.5      setosa
2       3           3.8          NaN           2.2         1.5      setosa
3       4           5.8          2.7           2.6         1.2   virginica
4       5           4.9          3.6           3.0         1.2   virginica
...   ...           ...          ...           ...         ...         ...
1311  412           NaN          3.6           2.9         0.5  Versicolor
1312  413           5.8          2.7           2.0         0.1  Versicolor
1313  414           3.3          3.7           1.3         2.8  Versicolor
1314  415           3.1          NaN           1.1         NaN  Versicolor
1315  416           4.3          2.5           1.3           1  Versicolor

[1316 rows x 6 columns]

In [ ]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
print('There are', df.duplicated().sum(), 'duplicated rows.')

There are 287 duplicated rows.

In [ ]:
# Next, remove all duplicate rows using Python.
df = df.drop_duplicates()
print('There are now', df.duplicated().sum(), 'duplicated rows.')

There are now 0 duplicated rows.

In [ ]:
# For the FOUR columns involving sepal and petal length and width, update all NaN values
# with the column mean.
columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
for column in columns:
  df[column] = pd.to_numeric(df[column], errors = 'coerce')
  column_means = df[column].mean(skipna=True)
  df[column].fillna(column_means, inplace=True)

print(df)
print('The mean for sepal_length was', df.sepal_length.mean(),'.')
print('The mean for sepal_width was', df.sepal_width.mean(),'.')
print('The mean for petal_length was', df.petal_length.mean(),'.')
print('The mean for petal_width was', df.petal_width.mean(),'.')

       id  sepal_length  sepal_width  petal_length  petal_width     species
0       1      3.500000      2.90000           1.4       0.5000   virginica
1       2      3.600000      3.20000           3.0       0.5000      setosa
2       3      3.800000      2.98876           2.2       1.5000      setosa
3       4      5.800000      2.70000           2.6       1.2000   virginica
4       5      4.900000      3.60000           3.0       1.2000   virginica
...   ...           ...          ...           ...          ...         ...
1311  412      4.522004      3.60000           2.9       0.5000  Versicolor
1312  413      5.800000      2.70000           2.0       0.1000  Versicolor
1313  414      3.300000      3.70000           1.3       2.8000  Versicolor
1314  415      3.100000      2.98876           1.1       1.5574  Versicolor
1315  416      4.300000      2.50000           1.3       1.0000  Versicolor

[1029 rows x 6 columns]
The mean for sepal_length was 4.522004132231404 .
The mean for sepal_width was 2.9887601390498264 .
The mean for petal_length was 1.9986036519871107 .
The mean for petal_width was 1.557399577167019 .

In [ ]:
# Find any values in the dataframe that are still missing, and delete them.
df = df.dropna()

In [ ]:
# How many different species are there?
num_species = len(df['species'].unique())
print('There are', num_species, 'different kinds of species.')
print(df['species'].unique())

There are 10 different kinds of species.
['virginica' 'setosa' 'Versicolor' 'setoso' 'Viginica' 'Virginia'
 'Virginica' 'Setosa' 'Setosan' 'versicolor']

In [ ]:
# Clean up the 'species' variable so that there are exactly three different values.
three_species = {'setosa': 'Setosa',
                 'setoso': 'Setosa',
                 'Setosan': 'Setosa',
                 'versicolor': 'Versicolor',
                 'virginica': 'Virginica',
                 'Viginica': 'Virginica',
                 'Virginia': 'Virginica'}
df['species'] = df['species'].map(three_species)

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [ ]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
exp = 'ab+'
test = 'aabbbc'

if re.match(exp,test):
  print("match!")
else:
  print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))